html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: crosshair;
}



@font-face {
    font-family: 'Ladi-Weak';
    src: local('Ladi-Weak') url('Ladi-Weak.woff2') format('woff2'), local('Ladi-Weak') url('Ladi-Weak.woff') format('woff');
}


/* MENU DISPLAY */


.navigation-menu {
    display: flex;
    justify-content: center;
    position: fixed;
    list-style: none;
    padding: 1.2rem 1.8rem 1.2rem;
    background-color: rgba(245, 245, 245, 0.90);
    filter: drop-shadow(0 0 0.5rem blue);
    border-radius: 3rem;
    top: 2rem;
    margin: auto;
    left: 0;
    right: 0;
    width: clamp(18rem, 24rem + 3.7vw, 35rem);
    /* width: 400px; */
}

.navigation-menu-item {
    margin: 0 .7rem;
    text-decoration: none;
    font-size:  clamp(1.5rem, 0.56vw + 1.28rem, 2rem);
    color: blue;

}

.navigation-menu-item:hover {
    font-style: italic;
    letter-spacing: .1px;
    /* al hacer hover cambia el tamaño del botón, como se resuelve esto? 
  si aplicamos un width a la clase menu navigation deja de pasar pero se sigue moviendo el contenido */
}





h1 {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: clamp(5.2rem, 7.73vw + 2.11rem, 12rem);
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 3rem;
    line-height: 100%;

}


h3 {
    font-size: clamp(3rem, 1.7vw + 2.32rem, 4.5rem);
    font-weight: 700;
    margin: 0;
    padding-bottom: 3rem;
}


p {
    margin: 0;
}


.main-p {
    font-size: clamp(3rem, 1.7vw + 2.32rem, 4.5rem);
    line-height: 150%;
}



.large-p {
    font-size: clamp(3.5rem, 1.14vw + 3.05rem, 4.5rem);
    font-weight: 300;
    margin: 0;
}


.small-p {
    font-size: 2rem;
}


/*         Styles, colors & fonts         */

.font-color--blue {
    color: blue;
}

.bg-color--white {
    background-color: #f5f5f5;
    color: #0f0f0f;
}

.bg-color--blue {
    background-color: blue;
    color: #f5f5f5;

}

.bg-color--black {
    background-color: #0f0f0f;
    color: #f5f5f5;
}

.ladi--weak {
    font-family: 'Ladi-Weak';
}

.large-ladi--weak {
    font-family: 'Ladi-Weak';
    font-size: clamp(8.5rem, 3.98vw + 6.91rem, 12rem);
    padding-bottom: 3rem;

}

.text-align--center {
    text-align: center;
}


.linear-gradient--blue {
    background: linear-gradient(to right, #0f0f0f 0%, #0f0f0f 15%, #0f0f0f 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background .5s ease;
    background-size: 200% 100%;
    width: fit-content;
}

.linear-gradient--blue:hover {
    background: linear-gradient(to right, #0f0f0f 0%, #0f0f0f 15%, #0000ff 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position-x: left;
    background-size: 100% 100%;
    }


.post-footer {
    border: 1px;
    border-color: #f5f5f5;
    border-style: solid;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    text-align: right;
    padding-top: 1rem;
    margin-top: 5rem;
}


/*       buttons        */

button,
.btn {
    color: #f5f5f5;
    font-size: clamp(1.5rem, 2.1rem + 0.71vw, 3rem);
    /* font-size: 2.2rem; */
    background-color: transparent;
    border: 2px solid #f5f5f5;
    border-radius: 10rem;
    text-decoration: none;
    padding: 1.5rem 6rem;
    width: 10rem;
    text-align: center;
    transition: .3s;
}

button:hover,
.btn:hover {
    background-color: #f5f5f5;
    color: #0000ff;
    transition: .3s;
}

.btn-secondary {
    text-decoration: underline;
    text-decoration-thickness: 2.5px
}

.btn-secondary:hover {
    font-style: italic;
    letter-spacing: .4px;
}

.btn-secondary:visited {
    color: #0f0f0f;
}

.flex-buttons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 7rem 0 7rem;
}

.item-align--center {
    align-self: center;
}

/*        general margins         */

.small-margin {
    padding: 6rem 2.5rem 7rem;
}

.medium-margin {
    padding: 6rem 2.5rem;
}

.vlarge-margin {
    box-sizing: border-box;
    height: 100vh;
    padding: 21.5rem 2.5rem 0;
}
/* valorar si canviar els noms de dalt de margin a padding */


/*           other margins       */
.margin-top--large {
    margin-top: 10rem;
}

.main-p + .main-p {
    padding-top: 3rem;
}

/*             images svgs and other            */

.flex-display {
    display: flex;
    flex-direction: column;

}

.svg-name {
    fill: #f5f5f5;
    /* position: relative;
    left: 90%; */
    align-self: flex-end;
    margin-top: 20vh;

}

.rotation {
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

img[alt="profile-picture-marina"] {
    width: 100vw;
    object-fit: cover;

}

img[alt="yellow-animation"] {
    max-height: 50rem;
    display: block;
    margin: 0 auto;
}

    /* IMAGES HOVER */

a.floating-image {
    position: relative;
    color: #f5f5f5;
    text-decoration-line: underline;
    text-decoration-thickness: 2.5px
  }
  
  a.floating-image img {
    position: absolute;
    opacity: 0;
    left: -13rem;
    top: -3rem;
    /* transition: opacity .5s, top .5s; */
  }
  
  a.floating-image:hover img {
    opacity: 1;
    top: 20px;
  }
  .floating-image:visited {
    color: #f5f5f5;
  }



/*       RESPONSIVE       */

@media screen and (min-width: 580px) {

    .small-margin {
        padding: 5rem;
    }

    .medium-margin {
        padding: 5rem;
    }

    .vlarge-margin {
        padding: 20rem 5rem 0;
    }

}

@media screen and (min-width: 950px) {

    .pre-footer {
        display: flex;
        gap: 3rem;
        ;
    }

    .half-viewport {
        width: 50vw;
        /* background-color: yellowgreen; */
    }


    .small-margin {
        padding: 7.5rem;
    }

    .medium-margin {
        padding: 7.5rem;
    }

    .vlarge-margin {
        padding: 20rem 7.5rem 0;
    }
}


@media screen and (min-width: 1200px) {
    .section-split {
        display: flex;
    }

    [alt="profile-picture-marina"] {
        max-width: 50vw;
        height: 100%;
        object-fit: none;
    }

    .margin-top--large {
        margin-top: 15rem;
    }
}

@media screen and (min-width: 1440px) {


    .small-margin {
        padding: 10rem;
    }

    .medium-margin {
        padding: 10rem;
    }

    .vlarge-margin {
        box-sizing: border-box;
        height: 100vh;
        padding: 20rem 10rem 0;
    }

}






/* deletables */



