html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  cursor: crosshair;
}

@font-face {
  font-family: "Ladi-Weak";
  src: local("Ladi-Weak") url("Ladi-Weak.woff2") format("woff2"),
    local("Ladi-Weak") url("Ladi-Weak.woff") format("woff");
}

/*               NAVIGATION BAR                */

.nav-bar {
  display: flex;
  position: fixed;
  background-color: rgba(245, 245, 245, 0.9);
  width: clamp(18rem, 24rem + 3.7vw, 35rem);
  justify-content: center;
  list-style: none;
  padding: 1.2rem 1.8rem 1.2rem;
  border-radius: 3rem;
  filter: drop-shadow(0 0 0.5rem rgb(0, 0, 255));
  top: 2rem;
  margin: auto;
  left: 0;
  right: 0;
}

.nav-bar-item {
  color: rgb(0, 0, 255);
  margin: 0 0.7rem;
  text-decoration: none;
  font-size: clamp(1.5rem, 0.56vw + 1.28rem, 2rem);
}

.nav-bar-item:hover {
  font-style: italic;
  letter-spacing: 0.1px;
  /* Letter-spacing aplicado para evitar el movimiento de las palabras dentro de la barra del menú en el hover en cursiva */
}

.nav-bar-item:visited {
  color: rgb(0, 0, 255);
}

/*               GENERAL STYLES                */

/*        MARGINS         */

.small-margin {
  padding: 6rem 2.5rem 7rem;
}

.medium-margin {
  padding: 6rem 2.5rem;
}

.large-margin {
  padding: 21.5rem 2.5rem 0;
}

/*      Other margins       */

.main-p + .main-p {
  padding-top: 3rem;
}

.margin-top--large {
  margin-top: 10rem;
}


/*         HEADINGS & P           */

h1,
h2,
h3,
p {
  margin: 0;
}

h2 {
  font-size: clamp(5.2rem, 7.73vw + 2.11rem, 12rem);
  text-transform: uppercase;
  padding-bottom: 3rem;
  line-height: 100%;
}

h3 {
  font-size: clamp(3rem, 1.7vw + 2.32rem, 4.5rem);
  font-weight: 700;
  padding-bottom: 3rem;
}

.small-p {
  font-size: 2rem;
}

.main-p {
  font-size: clamp(3rem, 1.7vw + 2.32rem, 4.5rem);
  line-height: 150%;
}

.large-p {
  font-size: clamp(3.5rem, 1.14vw + 3.05rem, 4.5rem);
  font-weight: 300;
}



/*         FONTS & COLORS         */

.bg-color--white {
  background-color: rgb(245, 245, 245);
  color: rgb(15, 15, 15);
}

.bg-color--blue {
  background-color: rgb(0, 0, 255);
  color: rgb(245, 245, 245);
}

.bg-color--black {
  background-color: rgb(15, 15, 15);
  color: rgb(245, 245, 245);
}

.font-color--blue {
  color: rgb(0, 0, 255);
}

.font-fam--ladi-weak {
  font-family: "Ladi-Weak";
}

.font-fam--ladi-weak-large {
  font-family: "Ladi-Weak";
  font-size: clamp(8.5rem, 3.98vw + 6.91rem, 12rem);
  padding-bottom: 3rem;
}



/*      BUTTONS STYLES & DISPLAYS       */

button,
.btn {
  background-color: transparent;
  color: rgb(245, 245, 245);
  font-size: clamp(1.5rem, 2.1rem + 0.71vw, 3rem);
  text-align: center;
  text-decoration: none;
  border: 2px solid rgb(245, 245, 245);
  border-radius: 10rem;
  padding: 1.5rem 6rem;
  width: 10rem;
  transition: 0.3s;
}

button:hover,
.btn:hover {
  background-color: rgb(245, 245, 245);
  color: rgb(0, 0, 255);
}

.btn-secondary {
  text-decoration: underline;
  text-decoration-thickness: 0.25rem;
}

.btn-secondary:hover {
  font-style: italic;
  letter-spacing: 0.4px;
}

.btn-secondary:visited {
  color: inherit;
}

.flex-buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 7rem 0 7rem;
}


/*         OTHER STYLES        */

.text-align--center {
  text-align: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.item-align--center {
  align-self: center;
}

.full-height {
  height: 100vh;
}

.box-sizing--border-box {
  box-sizing: border-box;
}

/*           FOOTER           */

.post-footer {
  text-align: right;
  border: 1px;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-color: rgb(245, 245, 245);
  border-style: solid;
  padding-top: 1rem;
  margin-top: 5rem;
  margin-bottom: 0;
}



/*                DECORATION EFFECTS                */


/* Blue gradient on hover */

.linear-gradient--blue {
  background: linear-gradient(
    to right,
    rgb(15, 15, 15) 0%,
    rgb(15, 15, 15) 15%,
    rgb(15, 15, 15) 60%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.5s ease;
  background-size: 200% 100%;
  width: fit-content;
}

.linear-gradient--blue:hover {
  background: linear-gradient(
    to right,
    rgb(15, 15, 15) 0%,
    rgb(15, 15, 15) 15%,
    rgb(0, 0, 255) 60%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: left;
  background-size: 100% 100%;
}

/* Name animation */

.svg-name {
    fill: rgb(245, 245, 245);
    /* position: relative;
      left: 90%; */
    align-self: flex-end;
    margin-top: 20vh;
  }

  .rotation {
    animation: rotate 10s linear infinite;
  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }


/* Illustration animation */

img[alt="yellow-animation"] {
    max-height: 50rem;
    display: block;
    margin: 0 auto;
  }


  /* Profile picture */

img[alt="profile-picture-marina"] {
  width: 100vw;
  object-fit: cover;
}



/* Images on hover effect */

a.floating-image {
  position: relative;
  color: rgb(245, 245, 245);
  text-decoration-line: underline;
  text-decoration-thickness: 2.5px;
}

a.floating-image img {
  position: absolute;
  opacity: 0;
  left: -15rem;
  top: -10rem;
  transition: opacity 0.5s, top 0.5s;
}

a.floating-image img:hover {
  opacity: 1;
}

.floating-image:visited {
  color: rgb(245, 245, 245);
}



/*              RESPONSIVE              */

@media screen and (min-width: 580px) {
  .small-margin {
    padding: 5rem;
  }

  .medium-margin {
    padding: 5rem;
  }

  .large-margin {
    padding: 20rem 5rem 0;
  }
}

@media screen and (min-width: 950px) {
  .pre-footer {
    display: flex;
    gap: 3rem;
  }

  .half-viewport {
    width: 50vw;
  }

  .small-margin {
    padding: 7.5rem;
  }

  .medium-margin {
    padding: 7.5rem;
  }

  .large-margin {
    padding: 20rem 7.5rem 0;
  }
}

@media screen and (min-width: 1200px) {
  .section-split {
    display: flex;
  }

  [alt="profile-picture-marina"] {
    max-width: 50vw;
    height: 100%;
    object-fit: none;
  }

  .small-margin {
    padding: 10rem;
  }

  .medium-margin {
    padding: 10rem;
  }

  .large-margin {
    padding: 20rem 10rem 0;
  }

  .margin-top--large {
    margin-top: 18rem;
  }
}

@media screen and (min-width: 1440px) {
  .small-margin {
    padding: 10rem;
  }

  .medium-margin {
    padding: 10rem;
  }

  .large-margin {
    padding: 20rem 10rem 0;
  }
}