html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  cursor: crosshair;
}

@font-face {
  font-family: 'ladiweak';
  src: url('https://esatdev.com/2022/marina/about-me/fonts/ladi-weak-webfont.woff2') format('woff2'),
       url('https://esatdev.com/2022/marina/about-me/fonts/ladi-weak-webfont.woff') format('woff');
  font-weight: normal;
}


/*               NAVIGATION BAR                */

.nav-bar {
  display: flex;
  position: fixed;
  background-color: rgba(245, 245, 245, 0.9);
  width: clamp(18rem, 24rem + 3.7vw, 35rem);
  justify-content: center;
  list-style: none;
  padding: 1.2rem 1.8rem 1.2rem;
  border-radius: 3rem;
  filter: drop-shadow(0 0 0.5rem rgb(0, 0, 255));
  top: 2rem;
  margin: auto;
  left: 0;
  right: 0;
}

.nav-bar-item {
  color: rgb(0, 0, 255);
  margin: 0 0.7rem;
  text-decoration: none;
  font-size: clamp(1.5rem, 0.56vw + 1.28rem, 2rem);
}

.nav-bar-item:hover {
  font-style: italic;
  letter-spacing: 0.1px;
  /* Letter-spacing aplicado para evitar el movimiento de las palabras dentro de la barra del menú en el hover en cursiva */
}

.nav-bar-item:visited {
  color: rgb(0, 0, 255);
  font-style: normal;
}



/*               GENERAL STYLES                */

/*        MARGINS         */

.small-margin {
  padding: 4rem 2.5rem 7rem;
}

.medium-margin {
  padding: 8rem 2.5rem;
}

.large-margin {
  padding: 17rem 2.5rem 0;
}

/*      Other margins       */

.main-p + .main-p {
  padding-top: 3rem;
}

.margin-top--large {
  margin-top: 10rem;
}

.margin-bottom--large {
  margin-bottom: 10rem;
}

/*         HEADINGS & P           */

h1,
h2,
h3,
p {
  margin: 0;
}

h2 {
  font-size: clamp(5.2rem, 7.73vw + 2.11rem, 12rem);
  text-transform: uppercase;
  padding-bottom: 3rem;
  line-height: 100%;
}

h3 {
  font-size: clamp(3rem, 1.7vw + 2.32rem, 4.5rem);
  font-weight: 700;
  padding-bottom: 3rem;
}

.small-p {
  font-size: 2rem;
}

.main-p {
  font-size: clamp(3rem, 1.7vw + 2.32rem, 4.5rem);
  line-height: 150%;
}

.large-p {
  font-size: clamp(3.5rem, 1.14vw + 3.05rem, 4.5rem);
  font-weight: 300;
}

/*         FONTS & COLORS         */

.bg-color--white {
  background-color: rgb(245, 245, 245);
  color: rgb(15, 15, 15);
}

.bg-color--blue {
  background-color: rgb(0, 0, 255);
  color: rgb(245, 245, 245);
}

.bg-color--black {
  background-color: rgb(15, 15, 15);
  color: rgb(245, 245, 245);
}

.font-color--blue {
  color: rgb(0, 0, 255);
}

.font-fam--ladi-weak {
  font-family: "ladiweak";
}

.font-fam--ladi-weak-large {
  font-family: "ladiweak";
  font-size: clamp(8.5rem, 3.98vw + 6.91rem, 12rem);
  padding-bottom: 3rem;
}

/*      BUTTONS STYLES & DISPLAYS       */

button,
.btn {
  background-color: transparent;
  color: rgb(245, 245, 245);
  font-size: clamp(1.5rem, 2.1rem + 0.71vw, 3rem);
  text-align: center;
  text-decoration: none;
  border: 2px solid rgb(245, 245, 245);
  border-radius: 10rem;
  padding: 1.5rem 6rem;
  width: 10rem;
  transition: 0.3s;
}

button:hover,
.btn:hover {
  background-color: rgb(245, 245, 245);
  color: rgb(0, 0, 255);
}

.btn-secondary--black {
  color: rgb(15, 15, 15);
  text-decoration: underline;
  text-decoration-thickness: 0.25rem;
}

.btn-secondary--black:hover {
  font-style: italic;
  letter-spacing: 0.4px;
}

.btn-secondary--black:visited {
  color: rgb(15, 15, 15);
}

.flex-buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 7rem 0 7rem;
}

/*         OTHER STYLES        */

.text-align--center {
  text-align: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.box-sizing--border-box {
  box-sizing: border-box;
}

.item-align--center {
  align-self: center;
}

.full-height {
  min-height: 100vh;
  
}

/*           FOOTER           */

.boder-top--solid {
  text-align: right;
  border: 1px solid rgb(245, 245, 245);
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  padding-top: 1rem;
  margin-top: 5rem;
  margin-bottom: 0;
}

/*       DECORATION EFFECTS       */

/* Name animation */

.svg-name {
    fill: rgb(245, 245, 245);
    align-self: flex-end;
    position: absolute;
    bottom: 5rem;
    right: 2.5rem;
  }

  .rotation {
    animation: rotate 10s linear infinite;
  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }

/* Profile picture */

img[alt="profile-picture-marina"] {
  width: 100vw;
  object-fit: cover;
}

/* Blue gradient on hover */

.linear-gradient--blue {
  background: linear-gradient(
    to right,
    rgb(15, 15, 15) 0%,
    rgb(15, 15, 15) 15%,
    rgb(15, 15, 15) 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.5s ease;
  background-size: 200% 100%;
  width: fit-content;
}

.linear-gradient--blue:hover {
  background: linear-gradient(
    to right,
    rgb(15, 15, 15) 0%,
    rgb(15, 15, 15) 15%,
    rgb(0, 0, 255) 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: left;
  background-size: 100% 100%;
/* background-clip added without webkit to ensure compatibility */
}

/* Images on hover effect */

.reveal-image {
  position: relative;
  color: rgb(245, 245, 245);
  text-decoration-line: underline;
  text-decoration-thickness: 2.5px;
}

.reveal-image:hover .hide {
  display: block;
  position: absolute;
  opacity: 1;
  left: -15rem;
  top: -10rem;
}

.hide {
  display: none;
}

.reveal-image:visited {
  color: rgb(245, 245, 245);
}

/* Illustration animated */

img[alt="yellow-animation"] {
    max-height: 50rem;
    display: block;
    margin: 0 auto;
  }



/*              RESPONSIVE              */

@media screen and (min-width: 580px) {
  .small-margin {
    padding: 5rem;
  }

  .medium-margin {
    padding: 5rem;
  }

  .large-margin {
    padding: 20rem 5rem 0;
  }
}

@media screen and (min-width: 950px) {
  .footer {
    display: flex;
    gap: 3rem;
  }

  .half-viewport {
    width: 50vw;
  }

  .small-margin {
    padding: 7.5rem;
  }

  .medium-margin {
    padding: 7.5rem;
  }

  .large-margin {
    padding: 20rem 7.5rem 0;
  }
  
  .svg-name {
    bottom: 10rem;
    right: 7.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .section-split {
    display: flex;
  }

  [alt="profile-picture-marina"] {
    max-width: 50vw;
    height: 100%;
    object-fit: none;
  }

  .small-margin {
    padding: 10rem 10rem 13rem;
  }

  .medium-margin {
    padding: 13rem 10rem;
  }

  .large-margin {
    padding: 20rem 10rem 0;
  }

  .margin-top--large {
    margin-top: 20rem;
  }

  .svg-name {
    bottom: 10rem;
    right: 10rem;
  }
}

@media screen and (min-width:950px) and (max-width:1439px){
  .main-p--variation {
    font-size: 3.7rem;
  }

  .relative-margin {
    padding: 7.5rem 6.5rem 10rem;
  }

}

@media screen and (min-width: 1440px) {
  .small-margin {
    padding: 10rem 10rem 13rem;
  }

  .medium-margin {
    padding: 13rem 10rem;
  }

  .large-margin {
    padding: 20rem 10rem 0;
  }
}